





{# <div class="col-md-4">
    <a href="{{url}}">
        <img src="{{ asset('uploads/paintings/' ~ painting.paintingFilename )}}" class="w-100 d-block" alt="l'image de l'appartement" >
    </a>  
</div> #}

