<footer class=" bg-dark py-5 text-center text-light shadow" id="footer">
    <i class="animated infinite heartBeat fas fa-heart h3 share"></i>
    <h3>&nbsp; Soutenez mon travail en partageant&nbsp;!</h3>
    <nav>
        <ul class="nav justify-content-center">
            <li class="nav-item p-3 h2">
                <i class="fab fa-instagram"></i>
            </li>
            <li class="nav-item p-3 h2">
                <i class="fab fa-facebook-square"></i>
            </li>
            <li class="nav-item p-3 h2">
                <i class="fab fa-pinterest-square"></i>
            </li>
        </ul>
    </nav>
    <div class="row">
        <div class="col">
            <nav>
                <ul class="nav d-flex flex-column justify-content-center">
                    <li class="nav-item"><a href="https://www.freepik.com/vectors/background">Background vector created by kjpargeter - www.freepik.com</a></li>
                    <li class="nav-item"><a href="https://www.freepik.com/vectors/vintage">Vintage vector created by kjpargeter - www.freepik.com</a></li>
                </ul>
            </nav>
        </div>
        <div class="col-md-6">

        </div>
    </div>
</footer>